

html {
    height: 100%;
    // font-family: 'Roboto', sans-serif;
    // font-family: 'Righteous', cursive;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    // background-image: url(../../Assets/Images/burger-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}