@import "https://fonts.googleapis.com/css?family=Merriweather|Roboto";
html {
  height: 100%;
  width: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  background: #EDEDED;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s; }

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #EDEDED;
  margin: 40px 0;
  background: #2A2D34; }

.wrapper {
  display: flex;
  width: 100%;
  height: 100%; }

#sidebar {
  width: 250px;
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #584D3D;
  color: #fff;
  transition: all 0.3s;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5); }

#sidebar.active {
  margin-left: -260px; }

#sidebar .sidebar-header {
  padding: 20px;
  background: #B8B8AA; }

#sidebar ul.components {
  padding: 20px 0; }

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block; }

#sidebar ul li a:hover {
  color: #2A2D34;
  background: #B8B8AA; }

a[data-toggle="collapse"] {
  position: relative; }

#content {
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column; }

#content.active {
  width: 100%; }

#header {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.mainButton {
  background-color: #584D3D;
  border-color: #B8B8AA; }

.mainButton:hover {
  background-color: #B8B8AA;
  border-color: #584D3D; }

.topHeader {
  font-size: 2em;
  color: #2A2D34;
  margin-right: 15%;
  font-family: 'Merriweather', serif; }

#body {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1; }

.mainFooter {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  font-family: 'Merriweather', serif;
  background-color: #B8B8AA;
  color: #2A2D34;
  text-align: center;
  vertical-align: middle;
  line-height: 90px; }

@media (max-width: 768px) {
  #sidebar {
    margin-left: -260px; }
  #sidebar.active {
    margin-left: 0; }
  #content {
    width: 100%; }
  #sidebarCollapse span {
    display: none; }
  .topHeader {
    margin-right: 4%; } }
