@import "https://fonts.googleapis.com/css?family=Merriweather|Roboto";
html {
  height: 100%;
  width: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  background: #EDEDED;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url(../Assets/Images/notebooktexture75percent.png);
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover; }

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s; }

.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #EDEDED;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s; }

#modalClose {
  color: #ffffff;
  font-size: 28px;
  font-weight: bold; }

#modalClose:hover,
#modalClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.modal-header {
  padding: 2px 16px;
  background-color: #274156;
  color: #ffffff;
  text-align: center; }

.modal-body {
  padding: 2px 16px; }

.modal-footer {
  padding: 2px 16px;
  background-color: #274156;
  color: #ffffff; }

@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s; }

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #EDEDED;
  margin: 40px 0;
  background: #353535;
  display: table; }

.wrapper {
  display: flex;
  width: 100%;
  height: 100%; }

#sidebar {
  width: 250px;
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 9;
  background: #274156;
  color: #fff;
  transition: all 0.3s;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5); }

#sidebar.active {
  margin-left: -260px; }

#sidebar .sidebar-header {
  padding: 20px;
  background: #d8e8f3;
  color: #353535; }

#sidebar ul.components {
  padding: 20px 0; }

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block; }

#sidebar ul li a:hover {
  color: #353535;
  background: #d8e8f3; }

a[data-toggle="collapse"] {
  position: relative; }

#content {
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column; }

#content.active {
  width: 100%; }

#header {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.mainButton {
  background-color: #274156;
  border-color: #d8e8f3; }

.mainButton:hover {
  background-color: #d8e8f3;
  border-color: #274156;
  color: #353535; }

.topHeader {
  font-size: 2em;
  color: #353535;
  margin-right: 15%;
  font-family: 'Merriweather', serif;
  text-align: center; }

.container {
  width: 100%;
  height: 100%; }

#body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1; }

.taskItem {
  background-color: #d8e8f3;
  color: #353535;
  width: 90%;
  height: 15%;
  max-height: 15%;
  margin-top: 15px;
  margin-left: 8%;
  word-wrap: break-word;
  border-radius: 15px 15px 15px 15px; }

.taskHeader {
  background-color: #274156;
  color: #FFFFFF;
  height: 33%;
  width: 100%;
  text-align: center;
  border-radius: 0 0 15px 15px;
  position: relative; }

.importantImage {
  position: absolute;
  height: 34px;
  left: -40px; }

.doneImage {
  position: absolute;
  top: 0;
  height: 34px;
  left: 101%; }

.taskBody {
  height: 66%;
  width: 100%; }

.mainFooter {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  font-family: 'Merriweather', serif;
  color: #353535;
  text-align: center;
  vertical-align: middle;
  line-height: 90px; }

@media (max-width: 768px) {
  #sidebar {
    margin-left: -260px; }
  #sidebar.active {
    margin-left: 0; }
  #content {
    width: 100%; }
  #sidebarCollapse span {
    display: none; }
  .topHeader {
    margin-right: 4%; } }

@media (min-width: 1280px) {
  .topHeader {
    margin-right: 40%; }
  .doneImage {
    height: 48px; }
  .importantImage {
    height: 48px; }
  .doneImage {
    height: 44px;
    left: 101%; }
  .importantImage {
    height: 44px;
    left: -50px; } }
